.App-grid{
    display: grid;
    place-items: center;
    text-align: center;
    background-color: white;
    margin: 3vh 6vh;
    padding-bottom: 3vh;
    min-width: 300px;
    border-radius: 1rem;
}